<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.refsys.adminweb.repository.HospitalInfoMapper">

  <!-- 저장 -->
  <insert id="save" parameterType="HospitalInfo" useGeneratedKeys="true" keyProperty="hospitalInfoId">
    INSERT INTO hospital_info (
      member_phone,
      hospital_info_name,
      hospital_info_address,
      hospital_info_contact_name,
      hospital_info_contact_phone,
      hospital_info_memo,
      hospital_info_is_active,
      hospital_info_created_at,
      hospital_info_admin_comment
    ) VALUES (
               #{memberPhone},
               #{hospitalInfoName},
               #{hospitalInfoAddress},
               #{hospitalInfoContactName},
               #{hospitalInfoContactPhone},
               #{hospitalInfoMemo},
               #{hospitalInfoIsActive},
               #{hospitalInfoCreatedAt},
               #{hospitalInfoAdminComment}
             )
  </insert>

  <!-- 회원별 조회 -->
  <select id="findByMemberPhone" parameterType="string" resultType="HospitalInfo">
    SELECT *
    FROM hospital_info
    WHERE member_phone = #{memberPhone}
  </select>

  <!-- 소개 단건 조회 -->
  <select id="findById" parameterType="long" resultType="HospitalInfo">
    SELECT *
    FROM hospital_info
    WHERE hospital_info_id = #{hospitalInfoId}
  </select>

  <!-- 소개 전체 조회 -->
  <select id="findAll" resultType="HospitalInfo">
    SELECT *
    FROM hospital_info
  </select>

  <!-- 소개 단건 업데이트 -->
  <update id="update" parameterType="HospitalInfo">
    UPDATE hospital_info
    SET
      member_phone = #{memberPhone},
      hospital_info_name = #{hospitalInfoName},
      hospital_info_address = #{hospitalInfoAddress},
      hospital_info_contact_name = #{hospitalInfoContactName},
      hospital_info_contact_phone = #{hospitalInfoContactPhone},
      hospital_info_memo = #{hospitalInfoMemo},
      hospital_info_is_active = #{hospitalInfoIsActive},
      hospital_info_admin_comment = #{hospitalInfoAdminComment}
    WHERE hospital_info_id = #{hospitalInfoId}
  </update>

</mapper>
