<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xray21.refsys.web.repository.MemberMapper">

  <insert id="save" parameterType="Member">
    INSERT INTO Member (
      member_phone, member_username, member_role, member_is_active
    ) VALUES (
               #{memberPhone}, #{memberUsername}, #{memberRole}, #{memberIsActive}
             )
  </insert>

  <select id="countByPhone" parameterType="string" resultType="int">
    SELECT COUNT(*) FROM Member WHERE member_phone = #{memberPhone}
  </select>

  <select id="findByPhone" resultType="Member">
    SELECT * FROM Member WHERE member_phone = #{memberPhone}
  </select>

  <select id="findAll" parameterType="com.xray21.refsys.web.dto.request.MemberSearchCond" resultType="Member">
    SELECT * FROM Member
    <where>
      <if test="memberPhone != null and memberPhone != ''">
        AND member_phone LIKE CONCAT('%', #{memberPhone}, '%')
      </if>
      <if test="memberUsername != null and memberUsername != ''">
        AND member_username LIKE CONCAT('%', #{memberUsername}, '%')
      </if>
      <if test="memberRole != null">
        AND member_role = #{memberRole}
      </if>
      <if test="memberIsActive != null">
        AND member_is_active = #{memberIsActive}
      </if>
      <if test="createdAtStart != null">
        AND CAST(member_created_at AS DATE) &gt;= CAST(#{createdAtStart} AS DATE)
      </if>
      <if test="createdAtEnd != null">
        AND CAST(member_created_at AS DATE) &lt;= CAST(#{createdAtEnd} AS DATE)
      </if>
      --H2
<!--      <if test="createdAtEnd != null">-->
<!--        AND member_created_at &lt; DATEADD('DAY', 1, #{createdAtEnd})-->
<!--      </if>-->
      --SQL Server
<!--      <if test="createdAtEnd != null">-->
<!--        AND member_created_at &lt; DATEADD(DAY, 1, #{createdAtEnd})-->
<!--      </if>-->
    </where>
    <choose>
      <when test="sortBy != null and sortBy != ''">
        ORDER BY
        <choose>
          <when test="sortBy == 'memberPhone'">member_phone</when>
          <when test="sortBy == 'memberUsername'">member_username</when>
          <when test="sortBy == 'memberRole'">member_role</when>
          <when test="sortBy == 'memberIsActive'">member_is_active</when>
          <when test="sortBy == 'memberCreatedAt'">member_created_at</when>
          <otherwise>member_created_at</otherwise>
        </choose>
        <choose>
          <when test="sortDir == 'asc'">ASC</when>
          <otherwise>DESC</otherwise>
        </choose>
      </when>
      <otherwise>
        ORDER BY member_created_at DESC
      </otherwise>
    </choose>
  </select>

  <update id="update" parameterType="Member">
    UPDATE Member
    SET member_username = #{memberUsername},
        member_role = #{memberRole},
        member_is_active = #{memberIsActive}
    WHERE member_phone = #{memberPhone}
  </update>

</mapper>
