<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xray21.refsys.web.repository.ReferralMapper">

    <!-- 병원소개 등록 -->
    <insert id="save" parameterType="Referral" useGeneratedKeys="true" keyProperty="referralId">
        INSERT INTO referral (
            user_department,
            user_name,
            user_phone,
            user_password,
            hospital_name,
            hospital_zip_code,
            hospital_address,
            hospital_contact_name,
            hospital_contact_phone,
            xray_count,
            ct_count,
            mr_count,
            mg_count,
            hospital_memo,
            approval_type,
            use_yn,
            create_date_time,
            created_by,
            update_date_time,
            updated_by
        )
        VALUES (
                 #{userDepartment},
                 #{userName},
                 #{userPhone},
                 #{userPassword},
                 #{hospitalName},
                 #{hospitalZipCode},
                 #{hospitalAddress},
                 #{hospitalContactName},
                 #{hospitalContactPhone},
                 #{xrayCount},
                 #{ctCount},
                 #{mrCount},
                 #{mgCount},
                 #{hospitalMemo},
                 #{approvalType},
                 #{useYn},
                 #{createDateTime},
                 #{createdBy},
                 #{updateDateTime},
                 #{updatedBy}
               )
    </insert>

    <!-- 작성자가 소개했던 병원인지 조회 -->
    <select id="existsByUserPhoneAndHospitalName" resultType="int">
        SELECT COUNT(*)
        FROM referral
        WHERE user_phone = #{userPhone}
          AND hospital_name = #{hospitalName}
    </select>

    <!-- 병원소개 단건조회 -->
    <select id="findById" parameterType="long" resultType="Referral">
        SELECT
            referral_id,
            user_department,
            user_name,
            user_phone,
            user_password,
            hospital_name,
            hospital_zip_code,
            hospital_address,
            hospital_contact_name,
            hospital_contact_phone,
            xray_count,
            ct_count,
            mr_count,
            mg_count,
            hospital_memo,
            approval_type,
            use_yn,
            create_date_time,
            created_by,
            update_date_time,
            updated_by
        FROM referral
        WHERE referral_id = #{id}
    </select>


    <!-- 병원소개 수정 -->
    <update id="updateReferral" parameterType="Referral">
        UPDATE referral
        SET
            user_department     = #{userDepartment},
            user_name           = #{userName},
            user_phone          = #{userPhone},
            user_password       = #{userPassword},
            hospital_name       = #{hospitalName},
            hospital_zip_code   = #{hospitalZipCode},
            hospital_address    = #{hospitalAddress},
            hospital_contact_name = #{hospitalContactName},
            hospital_contact_phone = #{hospitalContactPhone},
            xray_count          = #{xrayCount},
            ct_count            = #{ctCount},
            mr_count            = #{mrCount},
            mg_count            = #{mgCount},
            hospital_memo       = #{hospitalMemo},
            approval_type       = #{approvalType},
            use_yn              = #{useYn},
            update_date_time    = #{updateDateTime},
            updated_by          = NOW()
        WHERE referral_id       = #{referralId}
    </update>

</mapper>