@import url('./styles/header.css');
@import url('./styles/main.css');
@import url('./styles/notice.css');
@import url('./styles/search-filter.css');
@import url('styles/referral-list.css');
@import url('./styles/footer.css');

@import url('./styles/referral-form.css');

/*다운받아라*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

/* ===== 변수 구간 ===== */
:root {
  --color-main: #2E4CFF;
  --color-sub: #ECF2F6;
  --color-text: #281812;
  --color-black: #000000;
  --color-dark-gray: #5a5a5a;
  --color-nav-underline : #001b371a;
  --color-copyright : #333d4b;

  --font-code: 'Nanum Gothic Coding', monospace;;

  --font-size-title: 48px;
  --font-size-subtitle: 24px;
  --font-size-content-title: 26px;
  --font-size-text: 18px;
  --font-size-tag: 16px;
  --font-size-15: 15px;
  --font-size-nav: 18px;
  --font-size-footer-copyright : 15px;
  --font-size-footer : 13px;

  --height-toolbar: 72px;
}

/* ===== 리셋 구간 ===== */

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;

  /* 개발용 설정 */
  /* min-height: 150vh; */
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

strong, em {
  font-weight: inherit;
  font-style: normal;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl { margin: 0; }
dd {
  margin: 0;
  display: inline;
}

figure { margin: 0; }

a {
  text-decoration: none;
  color: inherit;
}

th { font-weight: normal; }

address { font-style: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.default__size {
  max-width: 1200px;
}