<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파일첨부테스트</title>
</head>
<body>
<h1>파일 첨부</h1>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
<input id="fileInput" name="file" type="file" multiple>
<button type="submit">파일업로드하기</button>
<hr>
<button>업로드한 사진 확인</button>
</form>

<!--자바스크립트-->
<!--<script>-->
<!--    const fileInput = document.getElementById("fileInput");-->
<!--    const fileList = document.getElementById("fileList");-->
<!--</script>-->
</body>
</html>