.header {
  position: sticky;
  z-index: 10;
  top: 0;
  height: var(--height-toolbar);
  color: var(--color-dark-gray);
  background-color: white;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}

/* 스크롤시 nav바 아래에 줄 생성 */
.header.scrolled {
  border-bottom: 1px solid var(--color-nav-underline);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.header__homelink {
  line-height: var(--height-toolbar);
}

.header__logo {
  height: 48px;
  vertical-align: middle;
  margin-bottom: 4px;
  color: var(--color-black);
}

.header__nav-item {
  display: inline-block;
  position: relative;
  font-size: var(--font-size-nav);
}

.header__nav-item a {
  display: inline-block;
  line-height: var(--height-toolbar);
  /* padding: 0 0.8em; */
}

/* nav 메뉴 호버되면 효과 적용 */
.header__nav-item::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 0;
  background-color: var(--color-main);
  transition: all 350ms;
}

.header__nav-item:hover::after {
  left: 0;
  width: 100%;
  height: 8px;
}

/* 반응형 작업할때 좌측 메뉴로 숨기기 */
@media (max-width: 430px) {
  .header{
    height: 100%;
  }
  .header__menu {
    flex-direction: column;
    gap: 1em;
  }
}