.header {
  position: sticky;
  z-index: 10;
  top: 0;
  height: var(--height-toolbar);
  color: var(--color-dark-gray);
  background-color: white;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.header__menu {
  display: flex;
  width: 92%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.scrolled {
  border-bottom: 1px solid #001b371a;
}

.header__homelink {
  display: inline-block;
  padding: 5px 24px 5px 0;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
  cursor: pointer;
}

.header__logo {
  height: 48px;
  vertical-align: middle;
  margin-bottom: 4px;
  color: var(--color-black);
}

.header__nav-item {
  display: inline-block;
  position: relative;
  font-size: var(--font-size-nav);
}

.header__nav-item a {
  display: inline-block;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
  padding: 0 0.8em;
}

.header__nav-item::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 0;
  background-color: var(--color-main);
  transition: all 350ms;
}

.header__nav-item:hover::after {
  left: 0;
  width: 100%;
  height: 8px;
}