main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section {
  padding: 64px 24px;
  text-align: center;
}

.section__title {
  font-size: var(--font-size-title);
  font-weight: bold;
  color: var(--color-text);
}

.section__subtitle {
  font-size: var(--font-size-subtitle);
  color: var(--color-dark-gray);
}

input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: box-shadow 0.2s, border-color 0.2s;
  outline: none;
}

input:hover {
  border-color: #3182f6
}

input:focus {
  border-color: #3182f6;
  box-shadow: 0 0 0 2px rgba(49, 130, 246, 0.6);
}