#search {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  padding: 64px 24px 0 24px;
}

.search__filter {
  width: 800px;
  background-color: var(--color-sub);
  border-radius: 2em;
}

.search__row {
  padding: 50px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

/* .search__row label {
  font-weight: 500;
} */

.search__row input {
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: var(--font-size-text);
}

.search__row .search__btn {
  padding: 13px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--font-size-text);
  transition: background-color 0.2s;
}

.search__row .search__btn:hover {
  background-color: #e0e0e0;
}

#searchBtn {
  background-color: #B2C8D8; /* 기본 */
  color: #001b37;
  border: 1px solid #A5BACB;
}

#searchBtn:hover {
  background-color: #9FB7C9; /* hover 시 살짝 어둡게 */
  border-color: #91A9BB;
}

@media (max-width: 770px) {
  .search__row {
    flex-direction: column;
    gap: 1em;
    align-content: center;
  }
}